# Ignore environment variable definitions
.env

# Ignore test data
backend\data

# Ignore Python bytecode and caches
__pycache__/
*.py[cod]

# Ignore any files starting with tempcoderunner
tempcoderunner*